{% extends 'base.html' %}

<!-- load boostrap5 crispy-form -->
{% load crispy_forms_tags %}

{% block content %}

<div class="container mt-3" style="font-size: 15px;">
    <!-- 1) [All Fields] Error Messages from forms.py
    {% for field in forms %}
        {% for error in field.errors %}
            <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
                {{error|escape}}
                <button type="button" class="btn btn-close" data-bs-dismaiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endfor %}
    -->
    
    <!-- 2) [Individual] Error Messages from forms.py -->
    <!-- Note: (striptags) remove <li> -->
    <!--  
    {% if forms.errors  %}
        <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
            {{forms.email.errors|striptags}}
            <button type="button" class="btn btn-close" data-bs-dismaiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}
    -->

    <!-- 3) SweetAlert -->
    <!--  
    {% if forms.errors  %}
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script>
            var m = "{{forms.email.errors|striptags}}";
            swal("Denied !", m, "error")

        </script>
    {% endif %}
    -->

    <!-- message from backend (success - views.py)-->
    <div class="mt-5 text-center">
        {% for message in messages %}
            {% if message.tags == 'success' %}
            <div class="alert alert-primary alert-dismissible fade show" role="alert">
                {{message}}
                <a href="{% url 'home' %}" type="button" class="btn btn-close" data-bs-dismaiss="alert" aria-label="Close"></a>
            </div>
            {% endif %}
        {% endfor %}
    </div>

    <!-- form -->
    <form method="post" enctype="multipart/form-data" class="card p-3 mt-5" novalidate>
        {% csrf_token %}
        <!-- {{forms|crispy}} -->
        <!-- card 1 -->
        <div class="card border-dark p-3">
            <span class="btn btn-secondary mb-4" style="cursor:default">
                Frontend: FR-22 &nbsp;|&nbsp; Backend: BA-22 &nbsp;|&nbsp; Fullstack: FU-15
            </span>
            
            <div class="row">
                <div class="col-4">
                    {{forms.firstname|as_crispy_field}}
                </div>
                <div class="col-4">
                    {{forms.lastname|as_crispy_field}}
                </div>
                <div class="col-4">
                    {{forms.job|as_crispy_field}}
                </div>
            </div>

            <div class="row">
                <div class="col-4">
                    {{forms.email|as_crispy_field}}
                </div>
                <div class="col-4">
                    {{forms.age|as_crispy_field}}
                </div>
                <div class="col-4">
                    {{forms.phone|as_crispy_field}}
                </div>
                <hr style="border: 1px solid #007bff;">
            </div>

            <div class="row">
                <div class="col-4">{{forms.personality|as_crispy_field}}</div>
                <div class="col-4">{{forms.salary|as_crispy_field}}</div>
                <div class="col-2">{{forms.gender|as_crispy_field}}</div>
                <div class="col-2">{{forms.smoker|as_crispy_field}}</div>
            </div>

            {{forms.experience|as_crispy_field}}
            <hr style="border: 1px solid #007bff; margin-top: -15px">  

            {{forms.messages|as_crispy_field}}
            {{forms.file|as_crispy_field}}
        </div>
        <br>

        <!-- card 2 -->
        <div class="card border-dark p-3">
            <span class="btn btn-secondary mb-4" style="cursor:default">
                MARK YOUR SKILLS !!!
            </span>

            <div class="row">
                <div class="col-2">{{forms.frameworks|as_crispy_field}}</div>
                <div class="col-2">{{forms.languages|as_crispy_field}}</div>
                <div class="col-2">{{forms.databases|as_crispy_field}}</div>
                <div class="col-2">{{forms.libraries|as_crispy_field}}</div>
                <div class="col-2">{{forms.mobile|as_crispy_field}}</div>
                <div class="col-2">{{forms.others|as_crispy_field}}</div>
            </div>

            <hr style="border: 1px solid #007bff;">
            <button type="submit" class="btn btn-outline-primary mt-3" style="width: 90px;">Submit</button>
        </div>
        
    </form>

</div>
<br><br><br><br>

{% endblock %}